.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  font-family: Arial, sans-serif;
}

main {
  flex: 1;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.welcome-message {
  font-size:4rem;
  font-weight: bold;
  margin-bottom: 80px;
  color: white;
  width:65%;
}

p {
  font-size: 1.2rem;
  margin-bottom: 15px;
  line-height: 1.6;
  color:white;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  padding: 10px 10px;
  text-align: center;
  float: left;
  font-size: 0.9rem;
  color:white;
}

