@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #14171b;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    width: 100%;
    height: 4vh;
    background-color: #14171b;
    margin: 0;
    position: fixed;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #494040;
}

.header-title {
    color: #8d8e99;
    margin: 0;
    font-family: 'Montserrat';
    font-size: 2vh;
    padding-left: 1%;
}

.pgr-logo {
    margin-left: 1vw;
    width: 1.2%;
}

.side-bar {
    width: 10vw;
    height: 100vh;
    background-color: #14171b;
    position: fixed;
    border-right: 1px solid #494040;
    margin-top: 4vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-items: stretch;
}

.side-bar-element {
    height: auto;
    margin-top: 2vh;
    background-color: #14171b;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;

    font-family: 'Montserrat';
    color: #8d8e99;

    display: flex;
    justify-content: left;
    align-items: center;

    transition: background-color 0.2s;
}

.side-bar-element-selected {
    height: auto;
    margin-top: 2vh;
    background-color: #393c41;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;

    font-family: 'Montserrat';
    color: #8d8e99;

    display: flex;
    justify-content: left;
    align-items: center;

    transition: background-color 0.2s;
}

.side-bar-element:hover {
    background-color: #2f343a;
}

.window {
    flex: 1;
    margin-top: 4vh;
    margin-left: 10vw;
    padding: 15px;
    overflow-y: auto;
}

.home-page-header {
    width: 100%;
    background-color: #14171b;
    margin: 0;
    display: flex;
    align-items: center;
}

.home-page-header-pgr-logo {
    height: 7.5vh;
    margin-left: 1vw;
}

.home-page-title {
    color: #efebeb;
    margin-left: 1.5vw;
}

.home-page-content {
    margin-left: 5.5vw;
}

.home-page-content p {
    color: #efebeb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    width: 70%;
}

.graph-title {
    color: #efebeb;
}

.graph-iframe {
    max-width: 100%;
    border: none;
    width: 70vw;
    height: 50vh;
}